name: Release

on: [push]

jobs:
  build:
    name: Python ${{ matrix.python-version }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tudelft-light dependencies
        shell: bash
        run: |
          conda env update
      - name: Activate tudelft-light Environment and Compile
        shell: bash
        run: |
          eval "$(conda shell.bash hook)"
          conda activate tudelft-light
          tectonic main.tex
